<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-app="cheKouBei" >
  <h2 class="sub-header">申请列表</h2>
  <div class="table-responsive" ng-controller="home">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>用户名</th>
        <th>电话</th>
        <th>真实姓名</th>
        <th>职位</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
        <% @auth_applies.each_with_index do |auth, i|  %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= auth.user.name %></td>
            <td><%= auth.user.phone%></td>
            <td><%= auth.true_name %></td>
            <td><%= auth.extra[:job] %></td>
            <td><%= I18n.t("enums.auth_apply.status.#{auth.status}") %></td>
            <td>
              <% if auth.untreated? %>
                  <%=link_to "去处理", treated_auth_applies_path(user_id: auth.user_id), class: 'btn btn-xs btn-primary' %>
              <%elsif auth.dyne? %>
              <%else auth.dyne? %>
                  <%=link_to "查看", treated_auth_applies_path(user_id: auth.user_id), class: 'btn btn-xs btn-primary'  %>
              <%end %>
            </td>
          </tr>
        <%end %>
      </tbody>
    </table>
    <%= paginate @auth_applies %>
  </div>
</div>


