<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-app="cheKouBei" >
  <h2 class="sub-header">认证处理(<%= link_to '标签管理', tags_path %>)</h2>
  <h3 class="sub-header">认证请求人: <%= @auth_apply.user.phone %>-<%= @auth_apply.user.name %>-<%= @auth_apply.true_name %></h3>
  <div class="table-responsive" ng-controller="home">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>邀请人序号</th>
        <th>用户名</th>
        <th>电话</th>
        <th>认证状态</th>
      </tr>
      </thead>
      <tbody>
      <% @invite_users.each_with_index do |user, i|  %>
          <tr>
            <td>邀请人<%= i+1 %></td>
            <td><%= user.name %></td>
            <td><%= user.phone%></td>
            <td><%= user.identify_status %></td>
          </tr>
      <%end %>
      </tbody>
    </table>
  </div>
  <div class="table-responsive" ng-controller="home">
    <%= form_for(UserTag.new, url: user_tag_user_path(@auth_apply.user)) do %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>标签序号</th>
        <th>标签名</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <% @auth_apply.user.tags.each_with_index do |tag, i|  %>
          <tr>
            <td>标签<%= i+1 %></td>
            <td><%= tag.name %></td>
            <td><%=link_to '删除', destroy_tag_user_path(@auth_apply.user, tag_id: tag.id), method: :delete %></td>
          </tr>
      <%end %>
      <tr>
        <td>添加标签</td>
        <td><%= select_tag(:tag_id, options_for_select(Tag.all.map{|t| [t.name, t.id]}))%></td>
        <td><%= button_tag '添加' %></td>
      </tr>
      </tbody>
    </table>
    <%end %>
  </div>
</div>