<div>
  <%= form_for(@store, html: { class: "form-horizontal", multipart: true}) do |f| %>
      <div class="form-group">
        <label class="col-sm-2 control-label">门店名称</label>
        <div class="col-sm-10">
          <%= f.text_field :name, class:"form-control", readonly: (@store.new_record? ? false: true), require: true %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">门店类型</label>
        <div class="col-sm-10">
          <%= f.select :store_category_id, @store_categories, {}, class: "form-control", require: true, disabled: (@store.new_record? ? false: true)%>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">门店品牌</label>
        <div class="col-sm-10">
          <%= f.select :brand_id, @brands, {}, class: "form-control", require: true, disabled: (@store.new_record? ? false: true)%>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">门店介绍</label>
        <div class="col-sm-10">
          <%= f.text_area :introduction,  { class: "form-control" }%>
        </div>
      </div>
      <!--暂时用不到-->
      <!--<div class="form-group">-->
      <!--<label class="col-sm-2 control-label">营业时间</label>-->
      <!--<div class="col-sm-10">-->
      <!--<div class="col-sm-6"><%= select_tag :business_hours_start, options_for_select(business_hours_collect[0..24]), { class: "form-control" }%></div>-->
      <!--<div class="col-sm-6"><%= select_tag :business_hours_end, options_for_select(business_hours_collect[25..-1]), { class: "form-control" }%></div>-->
      <!--</div>-->
      <!--</div>-->
      <div class="form-group">
        <label class="col-sm-2 control-label">等级</label>
        <div class="col-sm-10">
          <%= f.select :level, [[1, 1], [2, 2], [3, 3]], {}, class: "form-control", require: true, disabled: (@store.new_record? ? false: true)%>
        </div>
      </div>

      <%
        @provinces = Province.all.map{|p| [p.name, p.id]}
        unless @store.new_record?
          @cities =  if @store.address.try(:province_id)
            City.where(province_id: @store.address.province_id).map{|p| [p.name, p.id]}
          else
            []
          end

          @districts = District.where(city_id: @store.address.city_id).map{|p| [p.name, p.id]}
        else
          @cities, @districts = [], []
        end
      %>
      <div class="form-group">
        <label class="col-sm-2 control-label">地址</label>
        <div class="col-sm-10">
          <%= f.fields_for :address do |addresses_form| %>
              <div class="col-sm-2">
                <%= addresses_form.label '省' %>
                <%= addresses_form.select :province_id, @provinces, { include_blank: "请选择" }, class: 'col-sm-3 form-control' %>
              </div>
              <div class="col-sm-2">
                <%= addresses_form.label '市' %>
                <%= addresses_form.select :city_id, @cities , { include_blank: "请选择" }, class: 'form-control'%>
              </div>
              <div class="col-sm-2">
                <%= addresses_form.label '区' %>
                <%= addresses_form.select :district_id, @districts , { include_blank: "请选择" }, class: 'form-control'%>
              </div>
              <div class="col-sm-6">
                详细地址：<%= addresses_form.text_field :detail_address, class: 'form-control'%>
              </div>
          <% end %>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">图片</label>
        <div class="col-sm-10" id="file_areas">
          <% @store.attachments.each do |a| %>
            <img src="<%= a.file_url %>" width="200"/>
          <%end %>
          <input class="form-control" type="file" name="file[]" >
        </div>
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10" id="file_areas">
          <button type="button" id="add_file">添加</button>
        </div>
      </div>

      <%= f.submit '提交', class: "btn btn-primary float-r" %>
  <% end %>
</div>
<script>
  $.each(['store_address_attributes_province_id', 'store_address_attributes_city_id'], function( index, value ) {
    var types = value=="store_address_attributes_province_id" ? 'city': 'distinct'
    var area = value=="store_address_attributes_province_id" ? 'store_address_attributes_city_id': 'store_address_attributes_district_id'
    $("#"+value).on("change", function () {
      if(value=="store_address_attributes_province_id"){
        $("#store_address_attributes_district_id").html("<option value=''>请选择</option>");
      }

      $.ajax({
        url: '/stores/get_address_options',
        data: {
          'parent_id': $(this).val(),
          'types': types
        },
        dataType: 'json',
        success: function (data) {
          var html = "<option value=''>请选择</option>"
          $.each(data.data, function (index, value) {
            html += "<option value=" + value.id + ">" + value.name + "</option>"
          })
          $("#" + area).html(html)
        }
      })
    })
  })

  $("#store_store_category_id").on("change", function () {
    brand_type = ""
    brand_name = $(this).find("option:selected").text();
    if(brand_name == "新车" || brand_name == "二手车" ){
      brand_type = "car"
    }else if(brand_name == "车贷" ){
      brand_type = "car_loan"
    }else if(brand_name == "车抵押" ){
      brand_type = "car_mortgage"
    }else if(brand_name == "车险" ){
      brand_type = "car_insurance"
    }

    $.ajax({
      url: '/stores/get_store_brand_options',
      data: {
        'parent_id': $(this).val(),
        'brand_type': brand_type
      },
      dataType: 'json',
      success: function (data) {
        var html = ""
        $.each(data.data, function (index, value) {
          html += "<option value=" + value.id + ">" + value.name + "</option>"
        })
        $("#store_brand_id").html(html)
      }
    })
  })

  $("#add_file").on("click", function () {
    $("#file_areas").append('<input class="form-control" type="file" name="file[]" >')
  })
</script>