<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-app="cheKouBei" >
  <h2 class="sub-header">门店列表</h2>
  <div class="row">
    <div class="col-sm-12">
      <%= link_to '添加门店', new_store_path, class: "btn btn-sm btn-primary"%>
    </div>
  </div>

  <div class="table-responsive" ng-controller="home">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>门店名</th>
        <th>品牌</th>
        <th>门店类型</th>
        <th>门店等级</th>
        <th>区</th>
        <th>地址</th>
        <th>图片</th>
        <th>介绍</th>
        <th>营业时间</th>
      </tr>
      </thead>
      <tbody>
      <%@stores.each_with_index do |store, i|  %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= store.name %></td>
            <td><%= store.brand.try(:name).to_s %></td>
            <td><%= store.store_category.try(:name)%></td>
            <td><%= store.level.to_i %></td>
            <td><%= store.address.try(:district).try(:name)%></td>
            <td><%= store.address.try(:detail_address)%></td>
            <td>
              <button type="button" data-toggle='popover_image'>查看图片
                <% store.attachments.each do |a| %>
                  <%= hidden_field_tag :img, a.file_url %>
                <%end %>
            </button></td>
            <td><%= store.introduction%></td>
            <td><%= store.business_hours.first%>~<%= store.business_hours.last%></td>
          </tr>
      <%end %>
      </tbody>
    </table>
    <%= paginate @stores %>
  </div>
</div>

<script>
$(function (){
  $("[data-toggle='popover_image']").on("click", function(){
    var str = ""
    $.each($(this).find("[name='img']"), function(i, v){
     str += '<img src="'+$(v).val()+'" /></br>';
    })
    str = '<div class="custome_popover_div"><div class="custome_popover" role="tooltip" ><div class="float-r margin-10 arrow">X</div><h3 class="popover-title"></h3><div class="popover-content">'+str+'</div></div>' + '</div>'
    $("body").append(str);
    $(".custome_popover").on("click", function(){
      $(this).parent().remove();
    })
  })
//    $("[data-toggle='popover']").popover({
//        trigger: "manual",
//        title: '查看大图',
//        html: true,
//        content: '<img src="'+$(this).attr("src")+'" />',
//        template: '<div class="popover w-200px" role="tooltip" ><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
//    }).on("mouseenter", function(evt) {
//        var timeoutId, _this;
//        $('[data-toggle="popover"]').not(this).popover('hide');
//        _this = this;
//        return timeoutId = setTimeout( function() {
//            $(_this).popover('show');
//            return $(".popover").on("mouseleave", function() {
//                return $(_this).popover('hide');
//            });
//        },20);
//    }).on("mouseleave", function() {
//        var timeoutId, _this;
//        var _this;
//        _this = this;
//        clearTimeout(timeoutId);
//        return setTimeout(function() {
//            if (!$(".popover:hover").length) {
//                return $(_this).popover("hide");
//            }
//        },50);
//    });
});
</script>

