<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-app="cheKouBei" >
  <h1 class="page-header">首页</h1>

  <div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
      <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4><%= link_to "车牌列表", brands_path %></h4>
      <span class="text-muted">总数量：<%= Brand.count %></span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>标签</h4>
      <span class="text-muted">2</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>标签</h4>
      <span class="text-muted">3</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>标签</h4>
      <span class="text-muted">4</span>
    </div>
  </div>

  <h2 class="sub-header">用户列表</h2>
  <div class="table-responsive" ng-controller="home">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>用户名</th>
        <th>电话</th>
        <th>性别</th>
        <th>认证状态</th>
        <th>身份</th>
      </tr>
      </thead>
      <tbody>
      <%@users.each_with_index do |user, i|  %>
          <tr>
            <td><%= i+1 %></td>
            <td><%=link_to user.name, user_path(user) %></td>
            <td><%= user.phone %></td>
            <td><%= I18n.t("enums.user.sex.#{(user.sex || "other")}") %></td>
            <td><%= I18n.t("enums.user.identify_status.#{user.identify_status}") %></td>
            <td><%= I18n.t("enums.user.role.#{user.role}") %></td>
          </tr>
      <%end %>
      </tbody>
    </table>
    <%= paginate @users %>
  </div>
</div>


