<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-app="cheKouBei" >
  <h1 class="page-header">品牌列表</h1>

  <div class="row">
    <div class="col-sm-12">
      当前：<%= select_tag :brand_type, options_for_select(@brand_types, params[:brand_type])%>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= link_to '添加品牌', new_brand_path, class: "btn btn-sm btn-primary"%>
    </div>
  </div>
  <div class="table-responsive" ng-controller="home">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>logo</th>
        <th>名称</th>
        <th>门店数量</th>
        <th>首字母</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <%@brands.each_with_index do |b, i|  %>
          <tr>
            <td><img src="<%=b.logo_url %>" width="50" /></td>
            <td><%= b.name %></td>
            <td><%= b.stores_count.to_i %></td>
            <td><%= b.pinyin[0].upcase %></td>
            <td>~~</td>
          </tr>
      <%end %>
      </tbody>
    </table>
    <%= paginate @brands %>
  </div>

  <!-- angular js 示例-->
  <!--<div class="table-responsive" ng-controller="home">-->
  <!--<table class="table table-striped">-->
  <!--<thead>-->
  <!--<tr>-->
  <!--<th>#</th>-->
  <!--<th>名称</th>-->
  <!--<th>门店数量</th>-->
  <!--<th>首字母</th>-->
  <!--<th>~~</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr ng-repeat="c in brands">-->
  <!--<td>{{c.id}}</td>-->
  <!--<td>{{c.name}}</td>-->
  <!--<td>{{c.stores_count}}</td>-->
  <!--<td>{{c.pinyin}}</td>-->
  <!--<td>~~</td>-->
  <!--</tr>-->
  <!--</tbody>-->
  <!--</table>-->
  <!--</div>-->
  <script>
      //  var app = angular.module('cheKouBei', []);
      //  app.controller('home', function($scope, $http) {
      //    $http.get("/api/v1/users/cars/brands?store_car_id=4&user_token=<%= current_user.authentication_token %>").then(function (response) {
      //      $scope.brands = response.data.data;
      //    });
      //  });

      $("#brand_type").on("change",function(){
          location.href = "brands?brand_type="+$(this).val();
      })
  </script>

</div>


